
<h1><%= recipe.name %></h1>

<div class="prep_time_public" >
  <div>
    <span class="h5 mb-4">Preparation time:</span> 
    <span> <%= recipe.preparation_time %></span>  
  </div>  
  <div>
    <label for="toggle-public">Public</label>
    <input type="checkbox" id="toggle-public" <%= recipe.public ? "checked" : "" %> >
  </div>
</div>

<div>
  <span class="h5 mb-4">Cooking time: </span>
  <span><%= recipe.cooking_time %> </span>
</div>

<div class="">
  <span class="h5 mb-4">Description</span>
  <p class=""><%= recipe.description %></p>
</div>

<div class="d-flex justify-content-between" >
  <%=  button_to "Generate shopping list" %>
  <%=  button_to "Add ingredient" %>
</div>

<table>
<thead>
  <tr>
    <th>Food</th>
    <th>Quality</th>
    <th>Value</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</tbody>
</table>