<div class="d-flex mt-5 justify-content-between">
  
  <div>
    <h1>Recipe Application</h1>
  </div>

  <div class="row w-50">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <%=image_tag "1.jpg"  , class: "w-100 m-1"%>
       <%=image_tag "2.jpg"  , class: "w-100 m-1"%>
       <%=image_tag "5.jpg"  , class: "w-100 m-1"%>
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <%=image_tag "3.jpg"  , class: "w-100 m-1"%>
      <%=image_tag "4.jpg"  , class: "w-100 m-1"%>
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <%=image_tag "2.jpg"  , class: "w-100 m-1"%>
      <%=image_tag "6.jpg"  , class: "w-100 m-1"%>
    </div>
  </div>
</div>
